@page "/counter"

<PageTitle>Penjumlahan</PageTitle>

<h1>Counter</h1>

<p role="status">Hasil Penjumlahan : @hasil</p>
@* pakai bind (binding) biar ke tangkap ke c# nya  *@
<input type="text" @bind="nilaia">
<input type="text" @bind="nilaib">


<button class="btn btn-primary" @onclick="Jumlahkan">Hasil</button>

@code {
    private int nilaia;
    private int nilaib;
    private int hasil;
    private void Jumlahkan()
    {
        hasil = nilaia + nilaib;
    }
}
